.img-max-w-80-pct {
  max-width: 80%
}

.img-max-w-64 {
	max-width: 64px
}

.img-max-w-96 {
	max-width: 96px
}

.img-max-w-128 {
  max-width: 128px
}

.img-max-w-160 {
  max-width: 160px
}

.img-max-w-200 {
  max-width: 200px
}

.img-max-h-96 {
	max-height: 96px
}